body{
    margin:0;
}
.div1{
    background-color: aqua;
    height:200px;
    width:200px;
    border-radius: 50%;
    position:absolute;
    
    animation-name:move_div;
    animation-duration:5s;
    animation-delay:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes move_div{
    0%{
        left:0;
        top:0

    }
    25%{
        left:400px;
        top:0;
        background-color: blueviolet;


    }50%{
        left:400px;
        top:400px;
        background-color: brown;

    }
    75%{ 
        top:0px;
        left:0px;
        background-color:red;

    }

}